name: "DEMO"
on:
  workflow_dispatch:
  
jobs:
  demo:
    runs-on: ubuntu-latest
    environment: prod
    steps:
    - name: "Checkout code"
      uses: actions/checkout@v3
    - name: "Login to docker hub"
      run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin
    - name: "Install buildx"
      id: buildx
      uses: crazy-max/ghaction-docker-buildx@v1
      with:
        buildx-version: v0.6.0
    - name: "Build and push the image"
      run: |
        docker buildx build --push \
          --tag pascall/miiocli-demo:v1 \
          --file demo.Dockerfile \
          --platform linux/arm64,linux/amd64 .
